<div id="<%= dom_id sales_record %>">
  <p>
    <strong>Date:</strong>
    <%= sales_record.date %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= sales_record.amount %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= sales_record.category %>
  </p>

</div>
