<h1>Editing sales record</h1>

<%= render "form", sales_record: @sales_record %>

<br>

<div>
  <%= link_to "Show this sales record", @sales_record %> |
  <%= link_to "Back to sales records", sales_records_path %>
</div>
